  <form method="POST" action="">
    <div class="form-row">
      <div class="form-group col">
        <input type="text" class="form-control" name="firstname" placeholder="First Name">
      </div>
      <div class="form-group col">
        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
      </div>
      <div class="form-group col">
        <input type="text" class="form-control" name="telephone" placeholder="Telephone Number">
      </div>
      <div class="form-group col">
        <button type="submit" class="btn btn-primary">Enter new user</button>
      </div>
    </div>
  </form>