<form class="form-inline" method="POST" action="/search">
  <div class="form-group mr-2">
    <label for="search" class="sr-only">Search</label>
    <input type="text" class="form-control" id="search" name="search" placeholder="Search last name...">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>